/* Estilos personalizados */
body {
    background-color: #3D1A54;
    color: #FFD700;
    font-family: Arial, sans-serif;
}

/* Cabeçalho claro */
.navbar {
    background-color: #FFD700; 
    color: #4B0082;
    padding: 15px 20px; /* Aumenta o preenchimento da navbar */
}
.navbar .navbar-brand, .navbar .nav-link {
    color: #4B0082 !important;
    font-size: 1.5rem; /* Aumenta o tamanho da fonte */
}
.navbar .navbar-toggler {
    color: #FFD700;
    border-color: #FFD700;
}

/* Container flexível para o nome e o botão de menu */
.navbar .navbar-content {
    display: flex;
    align-items: center;
}

/* Ajuste para a imagem do logo */
.imagem-sobreposta {
    width: 150px; /* Aumenta o tamanho da imagem sobreposta */
    height: auto; /* Mantém a proporção */
    margin-right: 10px; /* Espaço entre a imagem e o nome */
}

/* Menu lateral escuro */
.offcanvas {
    background-color: #4B0082; /* Cor escura para o menu */
    color: #FFF;
    margin-top: 78px;
    transform: translateX(-100%); /* Mova para fora da tela inicialmente */
    transition: transform 1.5s ease; /* Adiciona a transição */
}

/* Quando o offcanvas está ativo */
.offcanvas.show {
    transform: translateX(0); /* Volta para a posição original */
    visibility: visible; /* Torna o offcanvas visível quando estiver aberto */
    transform: translateX(-100%);
    transition: transform 1.5s ease; /* Adiciona a transição */
    
}

.offcanvas-header {
    background-color: #4B0082;
    color: #FFD700;
}
.offcanvas-body a {
    color: #FFD700;
    text-decoration: none;
    display: block;
    padding: 15px 0;
    font-weight: bold;
}
.offcanvas-body a:hover {
    background-color: #FFD700;
    color: purple;
}

.section-title {
    color: #FFD700;
    font-size: 2.5rem; /* Aumenta o tamanho do texto do título da seção */
    margin-bottom: 20px; /* Adiciona margem inferior para espaçamento */
}

/* Rodapé */
footer {
    background-color: #FFD700;
    color: #4B0082;
    padding: 10px; /* Adiciona preenchimento ao rodapé */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .navbar .imagem-sobreposta {
        max-width: 50px; /* Ajusta o tamanho da imagem no menu para telas menores */
    }
    
    .navbar-content {
        flex-direction: column; /* Muda a direção do flex para coluna em telas pequenas */
        align-items: flex-start; /* Alinha os itens à esquerda */
    }

    .offcanvas-body a {
        padding: 10px; /* Reduz o espaçamento dos links no offcanvas em telas pequenas */
    }
}
